{% extends "base.html" %}
{% load static %}

{%  block content %}
<style>
    li:hover{
      background-color: white;
      border-radius: 10px;
      border: 1px solid orange;
  }
  
  </style>

<!-- jumbotron and nav -->
<section class="colorful jumbotron mb-0" role="banner">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-dark" role="navigation">
        <div class="navbar-brand"> -->
         <a href="index.html">Hotel Spoof
                <em>.</em>
            </a>
        </div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
    </nav>
   
        
          
          <!-- <button type="button" class="btn btn-dark btn-lg fa fa- p-3 my-2 m-3 w-25">Hospital</button>
          <button type="button" class="btn btn-dark btn-lg fa fa- p-3 m-3 w-25">Hotel</button>
          <button type="button" class="btn btn-dark btn-lg fa fa-  p-3 m-3 w-25">Petrol</button>
          <button type="button" class="btn btn-dark btn-lg fa fa- p-3 m-3 w-25">Restuarent</button>
          
          
         
    
          
    
          </div>
          
        </div></div> -->

    <div class="container hotels-container">

        <div class="row mt-2 justify-content-between">
            
                <h1>Travallon</h1>
                
</section>

<section class="search-container mb-5 pb-5">
   
                    
                   

                    
                </div>
                

                </div>
            </div>



           
                <div class="bg-white my-2 p-3">
                    <div class="container ">
                      <div>
                      <button type="button" class="btn btn-dark btn-lg fa fa- p-3 my-2 m-3">Hospital</button>
                      <button type="button" class="btn btn-dark btn-lg fa fa- p-3 m-3"><a href="{% url 'hotel' %}">Hotel</a>  </button>
                      <button type="button" class="btn btn-dark btn-lg fa fa-  p-3 m-3">Petrol</button>
                      <button type="button" class="btn btn-dark btn-lg fa fa- p-3 m-3">Restuarent</button>
                      <button type="button" class="btn btn-dark btn-lg fa fa-  p-3 m-3">Shopping Mall</button>
                      <button type="button" class="btn btn-dark btn-lg fa fa-  p-3 m-3">Sports</button>
                      <button type="button" class="btn btn-dark btn-lg fa fa-  p-3 m-3">Metro</button>
                
                      
                
                      </div>
                      
                    </div></div>
                    
                <form>
                <div class="row mt-3">
                    
                    <div class="col-md-4">
                    <div class="form-inline">
                        <label class="" for="exampleFormControlSelect1">Sort by</label>
                        <select class="form-control" name="sort_by" id="exampleFormControlSelect1">
                            <option value="">Recommended</option>
                            <option {% if sort_by == 'ASC' %} selected {% endif %} value="ASC">Low to high</option>
                            <option {% if sort_by == 'DSC' %} selected {% endif %} value="DSC">High to low</option>
                            
                           
                        </select>
                    </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-inline">
                            <label class="" for="exampleFormControlSelect1">Search</label>
                            <input name="search" class="form-control" value="{{search}}" placeholder="Search"> 
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-inline">
                           <label class="" for="exampleFormControlSelect1">Amenities</label>
                            <select name="amenities" class="form-control" multiple>

                            <option value="">Choose</option>
                            {% for amenities_obj in amenities_objs %}
                            <option {% if amenities_obj.amenity_name in amenities %} selected {% endif %}value="{{amenities_obj.amenity_name }}">{{amenities_obj.amenity_name }}</option>
                            {% endfor %}
                           
                        </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                     
                            <button style="margin-top: 30px;" type="submit" class="btn btn-success">Find</button>
                        </div>
                </div>
                </form>

            
    </div>
</section>




    
    

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
</section>
<img src="{% static '/images/dest2.jpg' %}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="" class="d-block w-100" alt="...">
            
          
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="" class="d-block w-100" alt="...">
            
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div></div>
<div class="container my-5">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top " src="" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title text-center">  TRAVEL</h5>
              
              <a href="" class="btn btn-success  btn-lg w-100">view</a>
            </div>
          </div>
        </div>
        <div class="col-sm"><div class="card" style="width: 22rem;">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">packages</h5>
            
            <a href="" class="btn btn-success  btn-lg w-100">view</a>
          </div>
        </div></div>
        <div class="col-sm"><div class="card" style="width: 20rem;">
          <img class="card-img-top" src="" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">destination</h5>
            
            <a href="" class="btn btn-success  btn-lg w-100">view</a>
          </div>
        </div></div>
      </div>
    </div>


    
  
    
   

{% endblock %}